@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các style custom thêm (nếu cần) */
body {
  @apply bg-gray-100 text-gray-900 dark:bg-[#121212] dark:text-white transition-colors duration-300;
}
